.recipe-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    background-color: var(--main-third-color);
    row-gap: 4em;
}   

.container-img-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-img-info .img-prin{
    width: 45%;
    border-radius: .7em;    
    -webkit-box-shadow: 0 0 9px 7.5px var(--main-first-color);
    -moz-box-shadow: 0 0 9px 7.5px var(--main-first-color);
    box-shadow: 0 0 9px 7.5px var(--main-first-color);
    border: 2px solid var(--main-first-color);
}

.container-img-info .container-info{
    display: flex;
    flex-direction: column;
    width: 45%;
    row-gap: 1em;
}

.container-info .container-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-icons .icons{
    display: flex;
    gap: .5em;
}

.container-icons .icons{
    width: 2.3em;
    height: 2.3em;
}

.container-icons .icons p{
    font-size: 1em;
    color: var(--black-third-color);
}

.container-icons .icons h4{
    color: var(--black-fifth-color);
}

.container-diets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--main-first-color);
    font-size: 1.3rem;
}

.steps-ingredients{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-first-color);
}

.steps-ingredients .ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.steps-ingredients .steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}