/* .App{
    text-align: start;
} */

.bg-image{
    display: flex;
    background-image: url('../../assets/01pp.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: left;
    justify-content: center;
    align-items: center;
}

.bg-image .chef{
    width: 40%;
    margin-right: -40px;
}

.bg-black-color{
    background-color: var(--black-third-color);
}

.bg-color{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-third-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-intro img{
    width: 400px;
    height: 200px;
    margin-bottom: -30px;
}

.btn-home{
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-chef-color);
    font-weight: 600;
    width: 30%;
    height: 50px;
    border: 2px solid var(--main-chef-color);
    border-radius: 15px;
    margin-top: 20px;
}

.btn-home:hover{
    -webkit-box-shadow: 0 0 18px 7.5px var(--main-chef-color);
    -moz-box-shadow: 0 0 18px 7.5px var(--main-chef-color);
    box-shadow: 0 0 18px 7.5px var(--main-chef-color);
}

.title-pp{
    color: var(--main-chef-color);
    font-size: 2.2rem;    
    margin-bottom: .6em;
}

.subtitle-pp{
    color: var(--main-chef-color);
    margin-bottom: 20px;
    font-size: 1.7rem;
    width: 60%;
}