/* .App{
    text-align: start;
} */

.bg-image{
    display: flex;
    background-image: url('../../assets/Banana\ Pancake\ Cereal.jpeg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100vw;
    background-position: left;
}

.bg-black-color{
    background-color: var(--black-third-color);
}

.bg-color{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-third-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-home{
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-fifth-color);
    font-weight: 500;
    width: 18%;
    height: 10%;
    background-color: var(--main-first-color);
    /* padding: 10px; */
    border: 2px solid var(--black-fifth-color);
    border-radius: 15px;
    margin-top: 20px;
}

.title-pp{
    color: var(--black-fifth-color);
    font-size: 2.2rem;    
    margin-bottom: .6em;
}

.subtitle-pp{
    color: var(--black-fifth-color);
    margin-bottom: 20px;
    font-size: 1.7rem;
}