/* .App{
    text-align: start;
} */

.bg-image{
    display: flex;
    background-image: url('../../assets/Banana\ Pancake\ Cereal.jpeg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100vw;
    background-position: left;
}

.bg-black-color{
    background-color: var(--black-third-color);
}

.bg-color{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-third-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.btn-home{
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-first-color);
    font-weight: 700;
    width: 250px;
    height: 70px;
    background-color: var(--main-fifth-color);
    /* padding: 10px; */
    border: 3px solid var(--main-first-color);
    border-radius: 20px;
}

.title-pp{
    color: var(--main-fifth-color);
    font-size: 36px;
}