:root{
  --main-first-color: #721D15;
  --main-second-color: rgba(221, 119, 29, 0.75);
  --main-third-color: rgba(221, 119, 29, 0.25);
  --main-fourth-color: rgba(142, 99, 53, 0.5);
  --main-fifth-color: #B4DDE7;
  --black-first-color: #000000;
  --black-second-color: #393636;
  --black-third-color: rgba(0, 0, 0, 0.50);
  --black-fourth-color: rgba(0, 0, 0, 0.25);
  --black-fifth-color: #F2EDED;
  --main-chef-color: #dd771d;
  --main-create-color: rgba(221, 119, 29, 0.5);
  --main-create-bg-color: rgba(231, 180, 180, 0.2);
  --main-success-color: #076d07;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Raleway', 'Ubuntu', 'Oxygen',
    'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}