.checkbox-wrapper{
    width: 100%;
    border: 2px solid var(--main-first-color);
    border-radius: 7px;
    padding: .3em 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkbox-wrapper input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid var(--main-first-color);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper label{
    font-size: .9rem;
    font-weight: bold;
}

.checkbox-wrapper input[type="checkbox"]:after{
    font-size: .9rem;
    content: "✔";
    color: var(--main-first-color);
    display: none;
}

.checkbox-wrapper input[type="checkbox"]:hover{
    background-color: var(--main-second-color);
}

.checkbox-wrapper input[type="checkbox"]:checked:after{
    display: block;
}
