.wrapSearch{
    width: 30%;
    -webkit-box-shadow: 0 10px 13px -7.5px var(--main-first-color);
    -moz-box-shadow: 0 10px 13px -7.5px var(--main-first-color);
    box-shadow: 0 10px 13px -7.5px var(--main-first-color);
    border-radius: 10px 10px 10px 10px;
}

.search {
    width: 100%;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hiddenSearch{
    visibility: hidden;
    display: none;
}

.searchRecipe {
    width: 100%;
    height: 31px;
    border: 2px solid var(--main-first-color);
    border-right: none;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: var(--main-first-color);
    background-color: transparent;
}

.searchRecipe::placeholder{
    color: var(--main-first-color);
    font-size: 16px;
}

.searchRecipe:focus{
    color: var(--main-first-color);
}

.searchButton {
    width: 50px;
    height: 45px;
    border: 2px solid var(--main-first-color);
    border-radius: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}