.secundaryNav-container{
    height: 150vh;
    width: 25vw;
    position: fixed;
    top: 90px;
    right: 0;
    z-index: -1;
    background-color: var(--main-third-color);
    color: var(--main-first-color);
    /* margin-left: .5em; */
}

.secundaryNav-container h3{
    font-size: 24px;
    padding: 2rem;
}